<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>One user</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        body {
            background-image: linear-gradient(to right, #8e2de2, #4a00e0);
            color: white;
            font-size: 16px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            min-height: 100vh;
        }

        .user__block {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            padding: 20px;
            font-size: 20px;
            background-color: #fff;
            border-radius: 5px;
            color: black;
        }

        /*Довелося зробити так, бо чортів HBS не захотів чомусь сприймати стилі*/
    </style>
</head>
<body>

<div class="user__block">
    <div>Firstname: {{user.firstname}}</div>
    <div>Lastname: {{user.lastname}}</div>
    <div>Email: {{user.email}}</div>
    <div>Age: {{user.age}}</div>
    <div>City: {{user.city}}</div>
</div>


</body>
</html>